{% extends '::representant.html.twig' %}
{% block menu %}
    {{ parent() }}
{% endblock %}
{% block contenuDuMilieu %}<!--le block du milieu de la page-->
    {% block debutPage %}
        <div class="row">
            <div class="col-lg-12" style="width:106%;height: 120px;background: silver;margin-top:-26px;">
                <h2 style="color: white;margin-top:4%"> <center>Liste des marchandises</center></h2>
            </div>
            <br><br>
        </div>
    {% endblock %}
    {% block modules %}<!--le block pour les differents modules de l'application-->
        <div class="page-content">
            <div class="container-fluid"  style="">
                <table   class="display table table-striped table-bordered" cellspacing="0" width="100%" id="table" style="margin-left:-35%;margin-top:-11%">
                    <thead>
                    <tr class="jumbotron">
                        <th id="libelle" >Libelle</th>
                        <th id="quantite" >Quantite</th>
                        {#<th id="unite" >Unite</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in liste %}
                        <tr>
                            <td>{{ l.marchandise.nom }}</td>
                            <td>{{ l.quantite }}</td>
                            {#<td>{{ l.unite }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!--.container-fluid-->
        </div><!--.page-content-->
    {% endblock %}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/jquery.tablednd.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows-init.js') }}"></script>
    {#<script type="text/javascript">{{ liste(liste) }}</script>#}
{% endblock %}