{% extends '::representant.html.twig' %}
	{% block menu %}
		{{ parent() }}
    {% endblock %}
    {% block contenuDuMilieu %}
        {% block debutPage %}
            <div class="row">
                <div class="col-lg-12" style="width:106%;height: 120px;background: silver;margin-top:-20px;">
                    <h2 style="color: white;margin-top:4%"> <center>Ordre de  livraison</center></h2>
                </div>
                <br><br><br><br><br><br>
            </div>

        {% endblock %}
		{% block modules %}
                <div class="col-xl-6" style="margin-left: 25%;" >
                   {% include '::formulaire.html.twig' %}
                </div>
        {% endblock %}
    {% endblock %}