<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Trading</title>

        <link href="img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
        <link href="img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
        <link href="img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
        <link href="img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
        <link href="img/favicon.png" rel="icon" type="image/png">
        <link href="img/favicon.ico" rel="shortcut icon">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{asset('css/lib/lobipanel/lobipanel.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/separate/vendor/lobipanel.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/lib/jqueryui/jquery-ui.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/separate/pages/widgets.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/lib/font-awesome/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/lib/bootstrap/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/main.css')}}">
        <link rel="stylesheet" href="{{asset('css/lib/acceuil.css')}}">



    </head>

    <body class="with-side-menu control-panel control-panel-compact"  style="background: white">
	     {% block menu %}
        <nav class="side-menu side-menu-big-icon" style="background: #3299CC;overflow: hidden">
            <nav class="sidebar-header">
                <img src="{{asset('img/man.png')}}" style="margin-left:35%;margin-top:-15%;"><br><br>
                <h6 style="text-align:center;color:white;">NIANG</h6>
                <h6 style="text-align:center;color:white;">Trader</h6>
            </nav>
            <hr style="margin-left:20%;margin-right: 20%;background: red;height:1px">
            <ul class="side-menu-list">
                <li class="opened" >
                    <span id="acc">
                    	<a href="{{ path('accueil') }}" id="acc" >
	                        <i class="font-icon font-icon-home"  style="color: white;" ></i>
                            <span class="lbl" style="" id="acceuil"><h6>Accueil</h6></span>
                        </a>
                    </span>
                </li>
                <li class="green with-sub">
		            <span id="prod">
		                <i class="font-icon font-icon-view-grid" style="color: white"></i>
                        <span class="lbl" style="color: white" ><h6>Produit</h6></span>
		            </span>
                    <ul>
                        <li><a href="{{ path('ajouter_produit') }}"  id="prod"><span class="lbl" style="color: white">Ajouter</span></a></li>
                        <li><a href="{{ path('lister_produit') }}"  id="prod"><span class="lbl" style="color: white">Modifier</span></a></li>
                        <li><a href="{{ path('lister_produit') }}"  id="prod"><span class="lbl" style="color: white">Lister</span></a></li>
                    </ul>
                </li>
                <li class="green with-sub">
                    <span id="rep">
                        <i class="font-icon font-icon-user"  style="color: white"></i>
                        <span class="lbl" style="color: white"><h6>Representants</h6></span>
                    </span>
                    <ul>
                        <li><a href="{{ path('ajouter_representant') }}" id="rep"><span class="lbl" style="color: white">Ajouter</span></a></li>
                        <li><a href="{{ path('lister_representant') }}" id="rep"><span class="lbl" style="color: white">Modifier</span></a></li>
                        <li><a href="{{ path('lister_representant') }}" id="rep"><span class="lbl" style="color: white">Lister</span></a></li>
                    </ul>
                </li>
                <li class=" with-sub">
                    <span id="contrat">
                        <i class="font-icon font-icon-archive"  style="color: white"></i>
                        <span class="lbl" style="color: white"><h6>Contrats</h6></span>
                    </span>
                    <ul>
                        <li><a href="{{ path('ajouter_contratMarchandise') }}" id="contrat"><span class="lbl" style="color: white">Ajouter</span></a></li>
                        <li><a href="{{ path('lister_contrat') }}" id="contrat"><span class="lbl" style="color: white">Modifier</span></a></li>
                        <li><a href="{{ path('lister_contrat') }}" id="contrat"><span class="lbl" style="color: white">Lister</span></a></li>
                    </ul>
                </li>
                <li class="with-sub">
                    <span id="transporteur">
                        <i class="font-icon font-icon-weather-waves" style="color: white"></i>
                        <span class="lbl" style="color: white"><h6>Transporteurs</h6></span>
                    </span>
                    <ul>
                        <li><a href="{{ path('ajouter_transporteur') }}" id="transporteur"><span class="lbl" style="color: white">Ajouter</span></a></li>
                        <li><a href="{{ path('lister_transporteur') }}" id="transporteur"><span class="lbl" style="color: white">Modifier</span></a></li>
                        <li><a href="{{ path('lister_transporteur') }}" id="transporteur"><span class="lbl" style="color: white">Lister</span></a></li>
                    </ul>
                </li>
                {#<li class="with-sub">#}
                    {#<span id="instr">#}
                        {#<i class="font-icon font-icon-weather-cloud" style="color: white"></i>#}
                        {#<span class="lbl" style="color: white"><h6>Instructions de livraison</h6></span>#}
                    {#</span>#}
                    {#<ul>#}
                        {#<li><a href="{{ path('ajouter_instruction') }}" id="instr" ><span class="lbl" style="color: white">Ajouter</span></a></li>#}
                        {#<li><a href="{{ path('lister_instruction') }}" id="instr"><span class="lbl" style="color: white">Modifier</span></a></li>#}
                        {#<li><a href="{{ path('lister_instruction') }}" id="instr"><span class="lbl" style="color: white">Lister</span></a></li>#}
                    {#</ul>#}
                {#</li>#}
            </ul>
        </nav><!--.side-menu-->
		 {% endblock %}
        <div class="page-content" style="background: white">
            <!--entete du site-->
                <div class="container-fluid" style="height: 70px">
                    <h2 style="font-weight: bold;font-size:35px;color:#3299CC; width:50%;margin-top:-10%">Trading Platform</h2>
                    <img src="{{asset('img/bateau.png')}}" style="margin-top:-9%;margin-left:30%;">

                </div><!--.container-fluid-->
            <a href="{{ path('login') }}" ><div class="glyphicon glyphicon-log-out" style="float:right;margin-top: -7%;margin-left: 10%"></div></a>
                <div class="site-header-search-container"><br>
                    <form class="site-header-search" style="width: 30% ;float: right;margin-top:-5%;">
                        <input type="text" placeholder="Search"/>
                        <button type="submit">
                            <span class="font-icon-search"></span>
                        </button>
                        <div class="overlay"></div>
                    </form><br><br>
                </div>
            <!--entete du site-->

            {% block contenuDuMilieu %}<!--le block du milieu de la page-->
            <div class="row">
                {% block debutPage %}
                    <div class="col-lg-12" style="width:106%;height: 100px;background: silver;margin-top:-48px;">
                        <h3 style="color: white;margin-top:3%"> <center>Accueil</center></h3>
                    </div>
                    <br><br><br><br><br><br>
                {% endblock %}
                {% block modules %}<!--le block pour les differents modules de l'application-->
                <div class="container-fluid">
                    <div class="row" style="margin-top: -50px;margin-left: 4%">
                        <div class="  col-xl-12">
                            <div class="col-xl-12">
                                <div class="row" >
                                    <div class=" col-sm-3">
                                        <article class="statistic-box red" style="height: 100px">
                                            <div>
                                                <br> <br>
                                                <div class="caption"><h5 style="margin: auto"><a href="{{ path('ajouter_produit') }}" style="color:white;">Gestion Marchandises</a></h5></div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-sm-3">
                                        <article class="statistic-box purple"  style="height: 100px">
                                            <div>
                                                <br> <br>
                                                <div class="caption"><h5 style="margin: auto"><a href="{{ path('ajouter_transporteur') }}"  style="color:white;">Gestion Transporteurs</a></h5></div>

                                            </div>
                                        </article>
                                    </div><!--.col-->
                                    <div class="col-sm-3">
                                        <article class="statistic-box yellow"  style="height: 100px">
                                            <div>
                                                <br> <br>
                                                <div class="caption"><h5 style="margin: auto"><a href="{{ path('ajouter_representant') }}"  style="color:white;">Gestion Representants</a></h5></div>
                                            </div>
                                        </article>
                                    </div><!--.col-->
                                    <div class="col-sm-3">
                                        <div class="statistic-box green"  style="height: 100px">
                                            <div>
                                                <br> <br>
                                                <div class="caption"><h5 style="margin: auto;align:center;"><a href="{{ path('ajouter_contratMarchandise') }}" style="color:white;">Gestion Contrats</a></h5></div>
                                            </div>
                                        </div>
                                    </div><!--.col-->
                                </div><!--.row-->
                            </div><!--.col-->
                        </div><!--col-->
                    </div><!--row--><br><br>


                    <div class="row">
                        <div class="col-lg-8">
                                {% include 'map.html.twig' %}
                        </div>

                        <div class="col-lg-3 dahsboard-column" style="margin-top: 50px;margin-left: 7%">
                                <div class=" box-typical" >
                                    <div class="calendar-page">
                                        <div class="calendar-page-side">
                                            <section class="calendar-page-side-section">
                                                <div class="calendar-page-side-section-in">
                                                    <div id="side-datetimepicker"></div>
                                                </div>
                                            </section>
                                        </div><!--.calendar-page-side-->
                                    </div><!--.calendar-page-->
                                </div>
                            </div><!--.container-fluid-->

                    </div>


                    </div><!--.container-fluid-->
                {% endblock %}<!--le block pour les differents modules de l'application-->
            </div><!--row-->
            {% endblock %}<!--Contenu du milieu-->
        </div><!--.page-content-->

        {% block script %}
            <script src="{{ asset('js/lib/jquery/jquery.min.js')}}"></script>
            <script src="{{ asset('js/lib/tether/tether.min.js')}}"></script>
            <script src="{{ asset('js/lib/bootstrap/bootstrap.min.js')}}"></script>
            <script src="{{ asset('js/plugins.js')}}"></script>
            <script src="{{ asset('js/app.js')}}"></script>
        {% endblock %}

            <script type="text/javascript" src="js/lib/jqueryui/jquery-ui.min.js"></script>
            <script type="text/javascript" src="js/lib/lobipanel/lobipanel.min.js"></script>
            <script type="text/javascript" src="js/lib/match-height/jquery.matchHeight.min.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script src="js/lib/jquery/jquery.min.js"></script>
            <script src="js/lib/tether/tether.min.js"></script>
            <script src="js/lib/bootstrap/bootstrap.min.js"></script>
            <script src="js/plugins.js"></script>

            <script type="text/javascript" src="js/lib/match-height/jquery.matchHeight.min.js"></script>
            <script type="text/javascript" src="js/lib/moment/moment-with-locales.min.js"></script>
            <script type="text/javascript" src="js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
            <script src="js/lib/fullcalendar/fullcalendar.min.js"></script>
            <script src="js/lib/fullcalendar/fullcalendar-init.js"></script>

            <script>
                $(document).ready(function() {
                    $('.panel').lobiPanel({
                        sortable: true
                    });
                    $('.panel').on('dragged.lobiPanel', function(ev, lobiPanel){
                        $('.dahsboard-column').matchHeight();
                    });

                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var dataTable = new google.visualization.DataTable();
                        dataTable.addColumn('string', 'Day');
                        dataTable.addColumn('number', 'Values');
                        // A column for custom tooltip content
                        dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
                        dataTable.addRows([
                            ['MON',  130, ' '],
                            ['TUE',  130, '130'],
                            ['WED',  180, '180'],
                            ['THU',  175, '175'],
                            ['FRI',  200, '200'],
                            ['SAT',  170, '170'],
                            ['SUN',  250, '250'],
                            ['MON',  220, '220'],
                            ['TUE',  220, ' ']
                        ]);

                        var options = {
                            height: 314,
                            legend: 'none',
                            areaOpacity: 0.18,
                            axisTitlesPosition: 'out',
                            hAxis: {
                                title: '',
                                textStyle: {
                                    color: '#fff',
                                    fontName: 'Proxima Nova',
                                    fontSize: 11,
                                    bold: true,
                                    italic: false
                                },
                                textPosition: 'out'
                            },
                            vAxis: {
                                minValue: 0,
                                textPosition: 'out',
                                textStyle: {
                                    color: '#fff',
                                    fontName: 'Proxima Nova',
                                    fontSize: 11,
                                    bold: true,
                                    italic: false
                                },
                                baselineColor: '#16b4fc',
                                ticks: [0,25,50,75,100,125,150,175,200,225,250,275,300,325,350],
                                gridlines: {
                                    color: '#1ba0fc',
                                    count: 15
                                },
                            },
                            lineWidth: 2,
                            colors: ['#fff'],
                            curveType: 'function',
                            pointSize: 5,
                            pointShapeType: 'circle',
                            pointFillColor: '#f00',
                            backgroundColor: {
                                fill: '#008ffb',
                                strokeWidth: 0,
                            },
                            chartArea:{
                                left:0,
                                top:0,
                                width:'100%',
                                height:'100%'
                            },
                            fontSize: 11,
                            fontName: 'Proxima Nova',
                            tooltip: {
                                trigger: 'selection',
                                isHtml: true
                            }
                        };

                        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                        chart.draw(dataTable, options);
                    }
                    $(window).resize(function(){
                        drawChart();
                        setTimeout(function(){
                        }, 1000);
                    });
                });
            </script>
    </body>

</html>