<!Doctype>

<html>
    <head>
        {#{% form_theme form _self %}#}


        {#{% block form_widget_simple %}#}
            {#{{ dump(form.vars.value) }}#}
            {#{% spaceless %}#}
                {#{% set type = type|default('text') %}#}
                {#<input type="{{ type }}" {{ block('widget_attributes') }}/>#}
            {#{% endspaceless %}#}
        {#{% endblock form_widget_simple %}#}
    </head>
    <body>
        <form method="post" class="form-horizontal" >
            {{ form_start(form) }}
            {% for item in form %}
                {% if item == form._token %}
                {% else %}
                    <div class="form-group">
                        {{ form_label(item) }}
                        <div class="controls" style="border-bottom: 1px  solid  silver;">
                            {{form_widget(item) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {{ form_rest(form) }}
            <div class="controls" align="center">
                <input type="reset" class="btn btn-danger" value="Annuler"/>
                <input type="submit" class="btn btn-success" value="Ajouter"/>
            </div>
            {{ form_end(form) }}
        </form>
    </body>
</html>