{% extends 'base.html.twig' %}

	{% block menu %}
        <nav class="side-menu side-menu-big-icon" style="background: #3299CC;overflow: hidden">
            <nav class="sidebar-header">
                <img src="{{asset('img/man.png')}}" style="margin-left:35%;margin-top:-15%;"><br><br>
                <h5 style="text-align:center">User Name</h5>
                <h5 style="text-align:center">Profil</h5>
            </nav>
            <hr style="margin-left:20%;margin-right: 20%;background: red;height:1px">
            <ul class="side-menu-list">
                <li class="opened">
                    <span id="instr">
                    	<a href="{{ path('representant_livrer_marchandise') }}" >
	                        <i class="glyphicon glyphicon-inbox"  style="color: white"></i>
	                        <span class="lbl" style="color: white">Livrer Marchandise</span>
                        </a>
                    </span>
                </li>
                <li class="opened">
                    <span id="prod">
                    	<a href="{{ path('representant_lister_marchandise') }}" >
	                        <i class="glyphicon glyphicon-th-list"  style="color: white"></i>
	                        <span class="lbl" style="color: white">Lister Marchandise</span>
                        </a>
                    </span>
                </li>
                <li class="opened">
                    <span id="rep">
                    	<a href="{{ path('representant_ajouter_comm') }}" >
	                        <i class="glyphicon glyphicon-plus"  style="color: white"></i>
	                        <span class="lbl" style="color: white">Ajouter commerçant</span>
                        </a>
                    </span>
                </li>
            </ul>
        </nav>
    {% endblock %}
    {% block contenuDuMilieu %}
        {% block debutPage %}
            <div class="row">
                <div class="col-lg-12" style="width:106%;height: 120px;background: silver;margin-top:-20px;">
                    <h2 style="color: white;margin-top:4%"> <center>Representant</center></h2>
                </div>
                <br><br><br><br><br><br>
            </div>

        {% endblock %}
        {% block modules %}
            <div class="col-xl-6" style="margin-left: 27%">
                {% include 'formulaire.html.twig' %}
            </div>
        {% endblock %}
    {% endblock %}