
{% extends '::base.html.twig' %}
{% block contenuDuMilieu %}<!--le block du milieu de la page-->
    {% block debutPage %}
        <div class="row">
            <div class="col-lg-12" style="width:106%;height: 100px;background: silver;margin-top:-48px;">
                <h3 style="color: white;margin-top:4%"> <center>Liste des Transporteurs</center></h3>
            </div>

        </div>
    {% endblock %}
    {% block modules %}<!--le block pour les differents modules de l'application-->
        <div class="page-content" style="margin-top: -50px">
            <div class="container-fluid"  style="margin-left: -12%">

                    <div class="">
                        <table id="table"  class="display table table-striped table-bordered" cellspacing="0" width="100%" style="margin-left:-11%;margin-top:0%" >

                            <thead>
                            <tr class="jumbotron">
                                <th data-field="id">ID</th>
                                <th data-field="name" >Nom</th>
                                <th data-field="telephone" >Telephone</th>
                                <th data-field="adresse" >Adresse</th>
                                <th data-field="mail" >Courriel</th>
                                <th data-field="Modifier" >Modifier</th>
                                <th data-field="Supprimer" >Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in liste %}
                                <tr>
                                    <td id="id">{{ l.id }}</td>
                                    <td>{{ l.login }}</td>
                                    <td>{{ l.telephone }}</td>
                                    <td>{{ l.adresse }}</td>
                                    <td>{{ l.email }}</td>
                                    <td><i class="font-icon font-icon-pen" style="color: green"></i></td>
                                    <td><i class="font-icon font-icon-del" style="color: red"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section><!--.box-typical-->

            </div><!--.container-fluid-->
        </div><!--.page-content-->
    {% endblock %}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/jquery.tablednd.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/listerTransporteur.js') }}"></script>
{% endblock %}