{% extends '::base.html.twig' %}

    {% block contenuDuMilieu %}
        {% block debutPage %}
            <div class="col-lg-12" style="width:104%;height: 150px;background: silver;margin-top:-26px;">
                <h1 style="color: white;margin-top:5%"> <center>Ajouter Societe</center></h1></center>
            </div>
            <br><br><br><br><br><br>
        {% endblock %}
        {% block modules %}
            <div class="col-xl-6" style="margin-left: 20%">
                {% include '::formulaire.html.twig' %}
            </div>
        {% endblock %}
    {% endblock %}