{% extends '::base.html.twig' %}
{% block contenuDuMilieu %}<!--le block du milieu de la page-->
    {% block debutPage %}
        <div class="row">
            <div class="col-lg-12" style="width:106%;height: 100px;background: silver;margin-top:-45px;">
                <h3 style="color: white;margin-top:4%"> <center>Liste des Contrats</center></h3>
            </div>
            <br><br>
        </div>
    {% endblock %}
    {% block modules %}<!--le block pour les differents modules de l'application-->
        <div class="page-content">
            <div class="container-fluid"  style="margin-left: -12%">
              `
                    <div class="">
                        <table   class="display table table-striped table-bordered" cellspacing="0" width="100%" id="table" style="margin-left:-20%;margin-top:-11%">
                            <thead>
                                <tr class="jumbotron">
                                    <th id="id">Numero</th>
                                    <th id="libelle" >Libelle</th>
                                    <th id="quantite" >Quantite</th>
                                    <th id="transporteurs" >Transporteur</th>
                                    <th id="representant">Representant</th>
                                    <th id="dateDepart" >Date Depart</th>
                                    <th id="dateArrivee">Date Arrivee</th>
                                    <th id="noteDebit">Note de Debit</th>
                                    <th id="modifier">Modifier</th>
                                    <th id="supprimer" >Supprimer</th>
                                    <th id="visualiser" >Visualiser</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set id = 1 %}
                                {% for l in liste %}
                                    <tr>
                                        <td>{{ id }}</td>
                                        <td>{{ l.libelle }}</td>
                                        <td>{{ l.quantite }}</td>
                                        <td>{{ l.transporteur.login }}</td>
                                        <td>{{ l.representant.login }}</td>
                                        <td>{{ l.getDateDepart()|date('d-m-Y') }}</td>
                                        <td>{{ l.getDateArrivee()|date('d-m-Y') }}</td>
                                        <td>{{ l.noteDebit }}</td>
                                        <td><a href="{{ path("editer_contrat", {'id':l.id}) }}" class="font-icon font-icon-pen" style="color: green"></a></td>
                                        <td><a href="{{ path("delete_contrat", {'id':l.id}) }}" class="font-icon font-icon-del" style="color: red"></a></td>
                                        <td><a href="{{ path("visualiser_contrat", {'id':l.id}) }}" class="font-icon font-icon-doc" style="color: red"></a></td>
                                    </tr>
                                    {% set id = id +1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


            </div><!--.container-fluid-->
        </div><!--.page-content-->
    {% endblock %}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/jquery.tablednd.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/listerContrat.js') }}"></script>

{% endblock %}