{% extends '::base.html.twig' %}
{% block contenuDuMilieu %}<!--le block du milieu de la page-->
    {% block debutPage %}
        <div class="row">
            <div class="col-lg-12" style="width:106%;height: 120px;background: silver;margin-top:-26px;">
                <h2 style="color: white;margin-top:4%"> <center>Liste des Contrats</center></h2>
            </div>
            <br><br>
        </div>
    {% endblock %}
    {% block modules %}<!--le block pour les differents modules de l'application-->
        <div class="page-content">
            <div class="container-fluid"  style="margin-left: -12%">
                <div class="box-typical">
                    <div id="toolbar">
                        <h1 style="font-weight: bold">Liste des Contrats</h1>
                    </div>
                    <div class="col-xs-12">
                       Libelle : {{ contrat.libelle}}<br>
                       Representat : {{ contrat.representant.nom}}<br>
                         Trasporteur : {{ contrat.transporteur.nom}}<br>
                        Marchandise : {{ contrat.marchandise.nom}}<br>
                          Quantite : {{ contrat.quantite }}{{ contrat.unite }}


                    </div>
                    <form action="{{ path("valider_contrat", {'id':contrat.id}) }}" method="post" >
                        Proformat <input type="text" id="prix" name="_prix">
                        <input type="submit" name="proformat" value="valider">
                    </form>
                </section><!--.box-typical-->

            </div><!--.container-fluid-->
        </div><!--.page-content-->
    {% endblock %}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/jquery.tablednd.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/listerContrat.js') }}"></script>
{% endblock %}