{% extends '::base.html.twig' %}
{% block contenuDuMilieu %}<!--le block du milieu de la page-->
    {% block debutPage %}
        <div class="row">
            <div class="col-lg-12" style="width:106%;height: 100px;background: silver;margin-top:-45px;">
                <h3 style="color: white;margin-top:4%"> <center>Details du contrat {{ contrat.libelle }}</center></h3>
            </div>
            <br><br>
        </div>
    {% endblock %}
    {% block modules %}<!--le block pour les differents modules de l'application-->
        <div class="page-content">
            <div class="container-fluid"  style="margin-left: -12%">
                <h2>Contrat numero {{ contrat.id }}</h2>
                <h3>Libelle du contrat {{ contrat.libelle }}</h3>
                <p>Entre la societe de trading TradingInternational, représentée par monsieur Niang,
                    gérant et monsieur {{ contrat.transporteur.nom }}, titulaire du certificat de
                    capacité professionnelle au transport international, a été convenu ce qui
                    suit :
                </p>
                <p>Monsieur {{ contrat.transporteur.nom }}, exercera, en qualité de gestionnaire de transport, de
                    manière effective et permanente pour le compte de la societe TradingInternational, les activités
                    suivantes :<br>
                    1) gérer l'entretien des marchandises ;<br>
                    2) vérifier les contrats et les documents de transport ;<br>
                    3) effectuer la comptabilité de base ;<br>
                    4) vérifier les procédures en matière de sécurité.
                </p>
                <p>Ce contrat concerne le transport de {{ contrat.quantite }} de marchandise.<br>
                    La date de depart est {{ contrat.getDateDepart()|date('d-m-Y') }}.<br>
                    La date d'arrivee a destination est {{ contrat.getDateArrivee()|date('d-m-Y') }}.<br>
                    La note de debit fixee estimee par le transporteur est {{ contrat.noteDebit }}
                </p>
            </div><!--.container-fluid-->
        </div><!--.page-content-->
    {% endblock %}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/jquery.tablednd.js') }}"></script>

{% endblock %}