{% extends '::base.html.twig' %}
{% block contenuDuMilieu %}<!--le block du milieu de la page-->
    {% block debutPage %}
        <div class="row">
            <div class="col-lg-12" style="width:106%;height: 100px;background: silver;margin-top:-48px;">
                <h3 style="color: white;margin-top:4%"> <center>Liste des Marchandises</center></h3>
            </div>
            <br><br>
        </div>
    {% endblock %}
    {% block modules %}<!--le block pour les differents modules de l'application-->
        <div class="page-content">
            <div class="container-fluid"  style="margin-left: -12%">

                <div class="">
                    <table  class="display table table-striped table-bordered" cellspacing="0" width="100%" id="table" style="margin-left:1%;margin-top: -10%">
                        <thead>
                        <tr class="jumbotron">
                            <th data-field="id">ID</th>
                            <th data-field="libelle">Libelle</th>
                            <th data-field="marchandise">Marchandise</th>
                            <th data-field="quantite">Quantite</th>
                            <th data-field="unite">Unite</th>
                            <th data-field="Modifier">Modifier</th>
                            <th data-field="Supprimer">Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set j=1 %}
                        {% for l in liste %}
                            <tr>
                                <td>{{ j }}</td>
                                <td>{{ l.libelle }}</td>
                                <td>{{ l.marchandise.nom }}</td>
                                <td>{{ l.quantite }}</td>
                                <td>{{ l.unite }}</td>
                                <td><a href="{{ path("editer_instruction", {'id':l.id}) }}" class="font-icon font-icon-pen" style="color: green"></a></td>
                                <td><a href="{{ path("delete_instruction", {'id':l.id}) }}" class="font-icon font-icon-del" style="color: red"></a></td>
                            </tr>
                            {% set j=j+1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div><!--.container-fluid-->
        </div><!--.page-content-->
    {% endblock %}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/jquery.tablednd.js') }}"></script>
    {#<script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows-init.js') }}"></script>#}
{% endblock %}