{% extends '::representant.html.twig' %}


{% block menu %}
    {{ parent() }}
{% endblock %}
{% block contenuDuMilieu %}<!--le block du milieu de la page-->
    {% block debutPage %}
        <div class="row">
            <div class="col-lg-12" style="width:106%;height: 120px;background: silver;margin-top:-26px;">
                <h2 style="color: white;margin-top:4%"> <center>Liste des Contrats</center></h2>
            </div>
            <br><br>
        </div>
    {% endblock %}
    {% block modules %}<!--le block pour les differents modules de l'application-->
        <div class="page-content">
            <div class="container-fluid"  style="margin-left: -12%">
                <section class="box-typical">
                    <div id="toolbar">
                        <h1 style="font-weight: bold">Liste des Contrats</h1>
                    </div>
                    <div class="table-responsive">
                        <table id="table"
                               data-pagination="true"
                               data-search="true"
                               data-use-row-attr-func="true"
                               data-reorderable-rows="true"
                               data-toolbar="#toolbar" border="yes">
                            <thead>
                            <tr class="jumbotron">
                                <th id="nom" >Nom</th>
                                <th id="prenom" >Prenom</th>
                                <th id="telephone" >Telephone</th>
                                <th id="adresse">Adreese</th>
                                <th id="modifier" >Modifier</th>
                                <th id="supprimer">supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in liste %}
                                <tr>
                                    <td>{{ l.nom }}</td>
                                    <td>{{ l.prenom}}</td>
                                    <td>{{ l.telephone}}</td>
                                    <td>{{ l.adresse }}</td>
                                    <td><a href="{{ path("editer_commercant", {'id':l.id}) }}" class="font-icon font-icon-pen" style="color: green"></a></td>
                                    <td><a href="{{ path("delete_commercant", {'id':l.id}) }}" class="font-icon font-icon-del" style="color: red"></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section><!--.box-typical-->

            </div><!--.container-fluid-->
        </div><!--.page-content-->
    {% endblock %}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows.min.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/jquery.tablednd.js') }}"></script>
    <script src="{{ asset('js/lib/bootstrap-table/bootstrap-table-reorder-rows-init.js') }}"></script>
    {#<script type="text/javascript">{{ liste(liste) }}</script>#}
{% endblock %}