{% extends '::base.html.twig' %}

    {% block contenuDuMilieu %}
        {% block debutPage %}
            <div class="row">
                <div class="col-lg-12" style="width:106%;height: 100px;background: silver;margin-top:-48px;">
                    <h3 style="color: white;margin-top:4%"> <center>Ajouter Representant</center></h3>
                </div>
                <br><br><br><br><br><br>
            </div>

        {% endblock %}
        {% block modules %}
            <div class="col-xl-6" style="margin-left: 27%">
                {% include '::formulaire.html.twig' %}
            </div>
        {% endblock %}
    {% endblock %}